html {
  font-family: "Myriad Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

nav {
  background: #ea6903;
  border-bottom: 2px solid #ffa654;
  color: white;
  font-weight: bold;
  font-size: 1.7em;
  height: 50px;
  width: 100%;
  padding: 0.2em;
  text-align: center; }
  nav img {
    width: 1.2em;
    vertical-align: -0.2em; }

.container {
  width: 960px;
  margin: 20px auto auto auto; }

h1 {
  font-size: 2em;
  font-weight: 600;
  color: #262626;
  margin: 1.3em 0 0.4em 0; }

p {
  color: #666666; }

.canvas-container {
  width: 90%;
  margin: 2em auto;
  border: 1px solid #ffa654; }

canvas {
  width: 100%;
  padding: 1em; }
